@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 60px;
    background: url('../All Images/big imgs/istockphoto-1295114854-170667a.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
body::after{
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.541);
}
nav{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
nav div logo{
    color: #fff;
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
}
nav div logo span{
    color: #ff00ff;
}
nav div a{
    text-decoration: none;
    color: #000;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 9px;
    padding-bottom: 9px;
    cursor: pointer;
    background: #ff00ff;
    border: 1px solid #ff00ff;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
}
#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
}
#heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#heading h1{
    font-size: 3.5em;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
#heading p{
    margin-top: -20px;
    font-size: 1.6em;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
#signin_info p{
    font-size: .8em;
    font-family: 'Poppins', sans-serif;
    width: 600px;
    color: #fff;
}
form{
    display: flex;
    width: 100%;
    height: 50px;
}
form input{
    width: 80%;
    outline: none;
    font-size: 1em;
}
form a{
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    background: #ff00ff;
    border: 1px solid #ff00ff;
    font-size: 1.4em;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
form a span{
    font-size: 1.2em;
}

@media only screen and (max-width: 820px),only screen and (max-width: 768px){
    body{
        height: 100vh;
    }
    nav div logo{
        color: #fff;
        font-size: 1.4em;
        font-family: 'Poppins', sans-serif;
    }
    nav div a{
        text-decoration: none;
        color: #000;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        cursor: pointer;
        background: #ff00ff;
        border: 1px solid #ff00ff;
        font-size: 11px;
        font-family: 'Poppins', sans-serif;
        border-radius: 5px;
    }
    #content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100px;
        margin-top: 130px;
    }
    #heading{
        align-self: flex-start;
    }
    #heading h1{
        font-size: 2em;
        font-family: 'Poppins', sans-serif;
        color: #fff;
    }
    #heading p{
        font-size: 1em;
    }
    form{
        display: flex;
        width: 80%;
        height: 30px;
    }
    form a{
        font-size: 1em;
    }
    form a span{
        font-size: 1.2em;
    }
    #signin_info{
        align-self: flex-start;
    }
}
@media only screen and (max-width: 679px), only screen and (max-width: 620px),only screen and (max-width: 620px){
    body{
        overflow: hidden;
        height: 100%;
        background-size: 200%;
    }
    body::after{
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    #content{
        display: flex;
        flex-direction: column;
    }
    #heading {
        align-self: flex-start;
    }
    #heading h1{
        font-size: 1.7em;
    }
    #heading p{
        font-size: 1em;
    }
    #signin_info{
        align-self: flex-start;
    }
}
@media only screen and (max-width:480px),only screen and (max-width:500px){
    body{
        overflow: hidden;
        height: 100vh;
        background-size: 100% 100%;
    }
    body::after{
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    #content{
        display: flex;
        flex-direction: column;
    }
    #heading {
        align-self: flex-start;
    }
    #heading h1{
        font-size: 1.5em;
    }
    #heading p{
        font-size: .8em;
        align-self: flex-start;
    }
    #signin_info{
        align-self: flex-start;
    }
    form{
        display: flex;
        width: 50%;
        height: 30px;
    }
    form input{
        width: 80%;
        outline: none;
        font-size: 1em;
    }
    form a{
        text-decoration: none;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20%;
        background: #ff00ff;
        border: 1px solid #ff00ff;
        font-size: .7em;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
    }
    form a span{
        font-size: 1.7em;
    }
}
@media only screen and (max-width:400px){
    body{
        margin-left: 10px;
        margin-right: 10px;
    }
    html{
        font-size: 12px;
    }
    nav{
        width: 100%;
    }
    nav div a{
        background: none;
        border: none;
        text-decoration: none;
        color: #fff;
        font-size: 1em;
        font-family: 'Poppins', sans-serif;
        border-radius: 5px;
    }
    #content{
        margin-top: 160px;
        display: flex;
        flex-direction: column;
    }
    #heading {
        align-self: center;
    }
    #heading h1{
        font-size: 1.5em;
    }
    #heading p{
        padding-top: 10px;
        font-size: .7em;
        align-self: center;
    }
    #signin_info{
        margin-left: 50px;
        margin-top: 30px;
    }
    form{
        display: flex;
        width: 40%;
        height: 30px;
    }
    form input{
        width: 80%;
        outline: none;
        font-size: 1em;
    }
    form a{
        text-decoration: none;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20%;
        background: #ff00ff;
        border: 1px solid #ff00ff;
        font-size: .7em;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
    }
    form a span{
        font-size: 1.7em;
    }
}