@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body{
    background: url('../All Images/big imgs/istockphoto-1295114854-170667a.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding-top: 20px;
    padding-left: 60px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.logo a{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    cursor: pointer;
    text-decoration: none;
}
.logo a span{
    color: #ff00ff;
}
.content{
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content form{
    width: 300px;
    background: rgba(0, 0, 0, 0.911);
    color: #fff;
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    border:1px solid rgba(0, 0, 0, 0.911);
}
h1{
    font-family: 'Poppins', sans-serif;
}
.content form .inputs:not(:last-child){
    margin-bottom: 45px;
}
.content form .inputs{
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    font-size: 17px;
}
.content form .inputs input{
    background: transparent;
    height: 47px;
    outline: none;
    position: relative;
    border: 1px solid rgb(56, 55, 55);
    border-radius: 5px;
    text-indent: 10px;
    color: #fff;
    z-index: 2;
}
.icon{
    position: absolute;
    top: 13px;
    right: 4px;
    color: rgba(255, 255, 255, 0.377);
    cursor: pointer;
    z-index: 2;
}
#visible{
    display: none;
}
#invisible{
    display: none;
}
#password:valid ~ #visible{
    display: block;
}
.content form .inputs label{
    z-index: 1;
    position: absolute;
    margin-left: 10px;
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.377);
    transition: .2s ease-in-out;
}
.content form .inputs input:valid  + label{
    margin-bottom: 33px;
    font-size: 12px;
}
.content form .inputs input:focus + label{
    margin-bottom: 33px;
    font-size: 12px;
}
#btn{
    height: 47px;
    margin-bottom: 10px;
}
#btn button{
    height: 100%;
    width: 100%;
    background: #ff00ff;
    border: 1px solid #ff00ff;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}
.links{
    display: flex;
    justify-content: space-between;
}
.links #remember input{
    cursor: pointer;
}
.content a{
    color: #fff;
    text-decoration: none;
}
.content a:hover{
    text-decoration: underline;
}
#btn_sign{
    font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width:600px){
    .logo a{
        font-size: 1em;
    }
    .content form{
        width: 200px;
        font-size: .7em;
    }
}
@media only screen and (max-width:480px){
    .content form{
        margin-left: -60px;
        width: 250px;
        font-size: .7em;
        padding-top: 30px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 40px;
    }
}
@media only screen and (max-width:320px){
    .logo{
        align-items: center;
    }
    .logo a{
        font-size: 1.7em;
    }
    .content form{
        margin-left: -60px;
        width: 220px;
        font-size: .6em;
        padding-top: 30px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 40px;
    }
}

